<!DOCTYPE html>
<head>
  
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
  <link href="css/templatemo_style.css" rel="stylesheet" type="text/css"> 
</head>
<body class="templatemo-bg-gray">
  <div class="container">
    <div class="col-md-12">
      <br>
      <br>
      <h1 class="margin-bottom-15" font-color="black">Log in</h1>
      <form class="form-horizontal templatemo-container templatemo-login-form-1 margin-bottom-30" role="form" action="#" method="post">
      <%= form_for(:session, url: login_path) do |f| %>       
            <div class="form-group">
              <div class="col-xs-12">               
                <div class="control-wrapper">
                  <label for="username" class="control-label fa-label"><i class="fa fa-user fa-medium"></i></label>
                  <%= f.email_field :email,class: "form-control",placeholder: "Username" %>
                </div>                              
              </div>              
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <div class="control-wrapper">
                  <label for="password" class="control-label fa-label"><i class="fa fa-lock fa-medium"></i></label>
                  <%= f.password_field :password,class: "form-control", placeholder: "Password" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <div class="checkbox control-wrapper">
                    <%= f.label :remember_me, class: "checkbox inline" do %>
                        <%= f.check_box :remember_me %>
                        <span>Remember me on this computer</span>
                        <% end %>
                  </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <div class="control-wrapper">
                  <%= f.submit "Log in", class: "btn btn-info" %>
                        
                  <a href="forgot-password.html" class="text-right pull-right">Forgot password?</a>
                </div>
              </div>
            </div>

            <hr>
            
          <% end %>
          </form>
          <div class="text-center">
            <a href="http://localhost:3000/signup" class="templatemo-create-new">Create new account <i class="fa fa-arrow-circle-o-right"></i></a>  
          </div>
    </div>
  </div>
</body>
</html>
    



          

       
