

  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @breeder, html: { multipart: true } do |f| %>

      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :age %>
      <%= f.select(:age,@option = options_for_select([[''],['1 year - 2 years'],['2 years - 3 years'],['3 years - 4 years'],['4 years - 5 years'],['5 years - 6 years'],['over 6 years']],@breeder.age)) %>

      <%= f.label :gender %>
      <%= f.select(:gender,@option = options_for_select([['',''],['Male','0'],['Female','1']],@breeder.gender)) %>
     <br>
      <%= f.label :breeds %>
      <%= f.select(:breeds,@option = options_for_select([[''],['Labrador'],['German Shepherd'],['Beagle'],['Golden Retriever'],['Yorkshire Terrier'],['Bulldog'],['Box'],['Poodle'],['Others']],@breeder.breeds)) %>

      <%= f.label :city %>
      <%= f.select(:city,@option = options_for_select([[''],['Carlow'],['Cavan'],['Clare'],['Cork'],['Donegal'],['Dublin'],['Kerry'],['Kildare'],['Kilkenny'],['Laois'],['Leitrim'],['Limerick'],['Longford'],['Louth'],['Mayo'],['Meath'],['Monaghan'],['Offaly'],['Roscommon'],['Sligo'],['Tipperary'],['Waterford'],['Westmeath'],['Wexford'],['Wicklow']],@breeder.city)) %>
      <br>
      <%= f.label :father %>
      <%= f.text_field :father, class: 'form-control' %>

      <%= f.label :mother %>
      <%= f.text_field :mother, class: 'form-control' %>

      <%= f.label :imageurl %>
      <%= f.text_field :imageurl, class: 'form-control' %>

      <%= f.label :injectionurl %>
      <%= f.text_field :injectionurl, class: 'form-control' %>

      <%= f.label :health %>
      <%= f.number_field :health, class: 'form-control' %>

      
      <%= f.hidden_field(:user_id, :value=>current_user.id)  %>
      <%= f.hidden_field(:user_email, :value=>current_user.email)  %>


      <%= f.submit "Update breeder", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>