<p id="notice"><%= notice %></p>

<br>
<br>

<h1>Dogs for Breeding </h1>
<p>(1)You can add dogs for breeding. <a href="http://localhost:3000/breeders/new" class="btn btn-dark">
  Add Breeds  </a></p>
<p>(2)You can search a dog for breeding which matches your dog.</p>
<%= form_tag searched_path, method: :get do %>
    Search: <%= text_field_tag :search, params[:search], placeholder: "input breeds or city" %>&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn btn-dark" name="commit" type="submit" value="Search">
<% end %>
  
    

<% @breeders.each_slice(3) do |breeders| %>
  <div class="row">
    <% breeders.each do |breeder| %>
      <div class="col-md-4">
        <div class="recipe">
          <div class="image_wrapper">
            <%= link_to breeder do %>
              <%= image_tag breeder.image.url(:medium) %>
            <% end %>
          </div>
          <h2><%= link_to breeder.name, breeder %></h2>
          <h2>Owner: <%= link_to breeder.user_email, breeder.user %> </h2>

        </div>
      </div>
    <% end %>
  </div>
<% end %>


<%= link_to 'New Breeder', new_breeder_path %>
