<p id="notice"><%= notice %></p>

<br>
<br>
<h1>Dogs for Sale</h1>
<p>(1)You can add dogs for sale.  <a href="http://localhost:3000/products/new" class="btn btn-dark btn-lg">
  Add Sale  </a></p>
<p>(2)You can buy a dog that you want.</p>

<%= form_tag searchesed_path, method: :get do %>
    Search: <%= text_field_tag :searches, params[:searches], placeholder: "input breeds or city" %>&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="btn btn-dark" name="commit" type="submit" value="Search">

       <% end %>
    

<% @products.each_slice(3) do |products| %>
  <div class="row">
    <% products.each do |product| %>
      <div class="col-md-4">
        <div class="recipe">
          <div class="image_wrapper">
            <%= link_to product do %>
              <%= image_tag product.image.url(:medium) %>
            <% end %>
          </div>
          <h2><%= link_to product.breeds, product %></h2>
          <h2>Seller: <%= link_to product.user_email, product.user %> </h2>

        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= link_to 'New Product', new_product_path %>
