<br>
<br>
<h1>New Product</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @product, html: { multipart: true } do |f| %>
    
      <form class="form-horizontal">
      <div class="form-group">
        <%= f.label :image,class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.file_field :image, class: 'form-control' %>
        </div>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :price,class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :price, placeholder: "€", class: 'form-control' %>
        </div>
      </div>
      <br>
      
      &nbsp;&nbsp;&nbsp;<%= f.label :age, class: 'control-label' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.select(:age,@option = options_for_select([[''],['1 month'],['2 months'],['3 months'],['4 months'],['5 months'],['6 months'],['6 months - 1 year']],@product.age)) %>
        <br>
        &nbsp;&nbsp;&nbsp;<%= f.label :gender, class: 'control-label' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.select(:gender,@option = options_for_select([['',''],['Male','0'],['Female','1']],@product.gender)) %>
        <br>
        &nbsp;&nbsp;&nbsp;<%= f.label :breeds, class: 'control-label' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.select(:breeds,@option = options_for_select([[''],['Labrador'],['German Shepherd'],['Beagle'],['Golden Retriever'],['Yorkshire Terrier'],['Bulldog'],['Boxer'],['Poodle'],['Others']],@product.breeds)) %>
        <br>
        &nbsp;&nbsp;&nbsp;<%= f.label :city, class: 'control-label' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.select(:city,@option = options_for_select([[''],['Carlow'],['Cavan'],['Clare'],['Cork'],['Donegal'],['Dublin'],['Kerry'],['Kildare'],['Kilkenny'],['Laois'],['Leitrim'],['Limerick'],['Longford'],['Louth'],['Mayo'],['Meath'],['Monaghan'],['Offaly'],['Roscommon'],['Sligo'],['Tipperary'],['Waterford'],['Westmeath'],['Wexford'],['Wicklow']],@product.city)) %>
      <br>
      <div class="form-group">
        <%= f.label :father,class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :father, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :mother,class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :mother, class: 'form-control' %>
        </div>
      </div>
      
    
      <div class="field">
        &nbsp;&nbsp;&nbsp;<%= f.label :health %>
        <div id="star-rating">&nbsp;&nbsp;&nbsp;</div>
      </div>

      <div class="form-group">
        <%= f.label :imageurl,class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :imageurl, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :injectionurl,class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :injectionurl, class: 'form-control' %>
        </div>
      </div>

      
      <%= f.hidden_field(:user_id, :value=>current_user.id)  %>
      <%= f.hidden_field(:user_email, :value=>current_user.email)  %>


      <%= f.submit "Add an product", class: "btn btn-primary" %>
    <% end %>
    </form>
  </div>
</div>
<%= link_to 'Back', products_path %>

<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'product[health]'
  });
</script>
