<p id="notice"><%= notice %></p>
<br>
<br>
<div class="row">
  <aside class="col-md-6">
    <section >
    
      <%= image_tag @product.image.url(:medium) %>
    
    </section>
  </aside>

  <div>

<h2>
  <strong>Breeds:</strong>
  <%= @product.breeds %>
</h2>



<p>
  <strong>Age:</strong>
  <%= @product.age %>
</p>


<p>
  <strong>City:</strong>
  <%= @product.city %>
</p>

<p>
  <strong>Father:</strong>
  <%= @product.father %>
</p>

<p>
  <strong>Mother:</strong>
  <%= @product.mother %>
</p>



<p>
  <strong>Health status:</strong>
  <div class="star-rating" data-score=<%= @product.health %> ></div>
</p>

<p>
  <strong>Price: €</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @product.gender==0?"Male":"Female" %>
</p>

<p>
  <strong>Injection certificate:</strong>
  <a href="http://cdn.lookanimals.com/pictures/dan.drydog.com/fanniemae/fannie-mae-vaccination-cert-2011.jpg">View</a>
</p>

<p>
  <strong>Seller:</strong>
  <%= @product.user_email %>
</p>
<p>
  <%= link_to 'Buy now!', new_product_order_path(@product) %>
</p>
</div>
</div>

<div class="row">
  <aside class="col-md-7">
    
    <h3>Add a order</h3>
    <%= form_for([@product, @product.orders.build]) do |f| %>
    <p>
      <%= f.label :name %></br>
      <%= f.text_area :name %>
    </p>
    <p>
      <%= f.label :address %></br>
      <%= f.text_area :address %>
    </p>
    <p>
      <%= f.label :phone_number %></br>
      <%= f.text_area :phone_number %>
    </p>
    </br>
    <%= f.submit "Create Order", class: "btn btn-primary" %>
    <% end %>

    </aside>  
  </div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>