<!--header-->
<div class="header">
  <div class="header-info">
    <div class="container">
    <div class="logo">
        <img src="assets/logo.png"  />
    </div>              
    </div>
  </div>
</div>
<div class="container">
         <div class="header-bottom">
              <div class="menu">
                <span class="menu-info"> </span>
                <ul class="cl-effect-21">
                  <li><%= link_to "HOME", root_path %></li>
                  <li><%= link_to "ABOUT", about_path %></li>                  
                  <li><%= link_to "CONTACT", contact_path %></li>
                  <% if logged_in? %>
                    <li><%= link_to "BREEDS", breeders_path %></li>
                    <li><%= link_to "SALES", products_path %></li>
                    <li><%= link_to "LOG OUT", logout_path, method: "delete" %></li>
                  <% else %>
                    <li><%= link_to "LOG IN", login_path %></li>
                  <% end %>
                </ul>
              </div>
          <!--script-nav -->  
              <script>
          $("span.menu-info").click(function(){
            $("ul.cl-effect-21").slideToggle("slow" , function(){
            });
          });
          </script>
          <!-- /script-nav -->
                    <div class="clearfix"> </div> 
       </div>
  </div>
<!--/header-->
